# Part1

## Filtering Data On The Basis Of Age And Country

In [95]:
data = [
    (1, 'Frank', 25, 'USA'),(2, 'Bob', 35, 'Canada'),(3, 'Charlie', 40, 'USA'),(4, 'David', 28, 'Mexico'),
    (5, 'Eve', 32, 'Canada'),
    (6, 'Frank', 36, 'Germany'),(7, 'Grace', 29, 'USA'),(8, 'Heidi', 33, 'Canada'),(9, 'Ivan', 45, 'USA'),(10, 'Judy', 31, 'USA'),
]

def extract(users):
    names= []
    for user in data:
        user_id, user_name, age, country=user
        if age > 30 and (country == 'USA' or country =='Canada'):
            names.append(user_name)
    return names
older_names= extract(data)
print(older_names)

['Bob', 'Charlie', 'Eve', 'Heidi', 'Ivan', 'Judy']

## Top 10 Oldest Users

In [9]:
def age(user):
    return user[2]

def top_10_by_age(data):
    top = sorted(data, key = age, reverse = True)
    top_10 = top[:10]
    return top_10

sorted_top_10 = top_10_by_age(data)
print(sorted_top_10)

[(9, 'Ivan', 45, 'USA'), (3, 'Charlie', 40, 'USA'), (6, 'Frank', 36, 'Germany'), (2, 'Bob', 35, 'Canada'), (8, 'Heidi', 33, 'Canada'), (5, 'Eve', 32, 'Canada'), (10, 'Judy', 31, 'USA'), (7, 'Grace', 29, 'USA'), (4, 'David', 28, 'Mexico'), (1, 'Frank', 25, 'USA')]

## Users With Duplicate Names

In [7]:
def duplicate_users(data):
    duplicate = set()
    already_traversed = []
    for user in data:
        user_id, user_name, age, country=user
        if user_name in already_traversed:
            duplicate.add(user_name)
        else:
            already_traversed.append(user_name)
    return duplicate

dup = duplicate_users(data)
print(dup)

{'Frank'}