In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/employee-performance-and-salary-dataset/50_Tasks_to_perform_on_dataset.pdf
/kaggle/input/employee-performance-and-salary-dataset/Employe_Performance_dataset.csv

## 1. Loading the dataset into a Pandas DataFrame and displaying the first 10 rows.

In [2]:
import pandas as pd
dataset = pd.read_csv("/kaggle/input/employee-performance-and-salary-dataset/Employe_Performance_dataset.csv")
df = pd.DataFrame(dataset)

In [3]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening

In [4]:
df.tail()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
995,996,Pamela Reeves,49,Female,Sales,7652,2024-06-23,4.0,3,Active,Los Angeles,Evening
996,997,Todd Johnson,29,Female,Sales,6754,2018-07-20,NaN,12,Inactive,New York,Morning
997,998,Michael Sanchez,18,Male,Sales,5278,2023-07-05,5.0,3,Active,New York,Morning
998,999,Ashley Taylor,51,Female,IT,5437,2022-02-18,4.0,9,Inactive,Los Angeles,Evening
999,1000,Shawn Scott,45,Male,IT,7364,2022-07-31,2.0,4,Active,New York,Morning

## 2. What are the column names and their respective data types in the dataset?

In [5]:
df.columns

Index(['ID', 'Name', 'Age', 'Gender', 'Department', 'Salary', 'Joining Date',
       'Performance Score', 'Experience', 'Status', 'Location', 'Session'],
      dtype='object')

In [6]:
df.dtypes

ID                     int64
Name                  object
Age                    int64
Gender                object
Department            object
Salary                 int64
Joining Date          object
Performance Score    float64
Experience             int64
Status                object
Location              object
Session               object
dtype: object

## 3. How many rows and columns are there in the dataset?

In [7]:
df.shape

(1000, 12)

In [8]:
df.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['ID', 'Name', 'Age', 'Gender', 'Department', 'Salary', 'Joining Date',
        'Performance Score', 'Experience', 'Status', 'Location', 'Session'],
       dtype='object')]

## 4. Select the Name, Age, and Salary columns using df[].

In [9]:
df[["Name","Age","Salary"]]

                   Name  Age  Salary
0          Cory Escobar   48    5641
1       Timothy Sanchez   25    4249
2          Chad Nichols   57    3058
3    Christine Williams   58    5895
4          Amber Harris   35    4317
..                  ...  ...     ...
995       Pamela Reeves   49    7652
996        Todd Johnson   29    6754
997     Michael Sanchez   18    5278
998       Ashley Taylor   51    5437
999         Shawn Scott   45    7364

[1000 rows x 3 columns]

## 5. Select the first 5 rows of the DataFrame using the iloc method.

In [10]:
df.iloc[1:6]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening
5,6,Ashley Howe,29,Female,HR,2591,2016-06-24,1.0,6,Active,Chicago,Evening

## 6. Select all rows where the Department is "Sales" using the loc method.

In [11]:
df.loc[df['Department'] == 'Sales']

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
6,7,David Olson,39,Female,Sales,6826,2023-05-11,NaN,4,Active,New York,Night
8,9,Jeremy Wright,63,Female,Sales,9862,2024-02-07,NaN,3,Inactive,New York,Night
10,11,Nicole Bell,42,Female,Sales,5336,2015-01-28,3.0,7,Active,Los Angeles,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...
991,992,William Schultz,23,Other,Sales,4311,2019-08-17,NaN,10,Inactive,Los Angeles,Evening
992,993,Ashley Daniels,25,Other,Sales,5524,2022-11-24,NaN,8,Inactive,New York,Morning
995,996,Pamela Reeves,49,Female,Sales,7652,2024-06-23,4.0,3,Active,Los Angeles,Evening
996,997,Todd Johnson,29,Female,Sales,6754,2018-07-20,NaN,12,Inactive,New York,Morning
997,998,Michael Sanchez,18,Male,Sales,5278,2023-07-05,5.0,3,Active,New York,Morning

## 7. Select rows where the Salary is greater than 8000 and Status is "Active".

In [12]:
df.loc[(df['Salary'] > 8000) & (df['Status'] == 'Active')]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
9,10,Brian Faulkner,30,Male,IT,8202,2018-05-26,1.0,9,Active,Los Angeles,Morning
24,25,Tracy Carlson,21,Male,HR,9275,2022-04-09,4.0,12,Active,New York,Morning
38,39,Jordan Scott,33,Other,Sales,8678,2016-05-15,5.0,9,Active,Los Angeles,Evening
39,40,Lisa Wagner,36,Male,HR,8870,2024-08-12,4.0,17,Active,Los Angeles,Evening
60,61,Andrew Shannon,51,Other,Sales,8544,2020-02-08,NaN,6,Active,New York,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...
976,977,Kimberly Ross,19,Male,Sales,9331,2018-07-03,5.0,12,Active,New York,Morning
982,983,Stephen Ponce,46,Other,Sales,8696,2022-10-14,4.0,1,Active,New York,Evening
986,987,Melissa Bradley,39,Female,IT,9618,2015-07-05,1.0,13,Active,New York,Morning
988,989,Hannah Hickman,36,Female,IT,9118,2022-07-02,5.0,5,Active,New York,Night
989,990,Shannon Meyer,18,Other,HR,9985,2022-11-05,4.0,18,Active,Chicago,Night

## 8. Extract the rows where the employee has been with the company for more than 5 years and has a 
Performance Score of at least .444

In [13]:
df.loc[(df['Experience'] > 5) & (df['Performance Score'] >= 4.0)]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening
11,12,Rodney Richardson,60,Other,HR,6908,2015-03-14,4.0,19,Active,Chicago,Night
17,18,Jacqueline Randall,31,Female,HR,3519,2018-05-18,4.0,6,Active,New York,Morning
18,19,Nancy Stephens,38,Male,HR,9061,2017-07-16,5.0,16,Inactive,Chicago,Night
24,25,Tracy Carlson,21,Male,HR,9275,2022-04-09,4.0,12,Active,New York,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...
978,979,Michael Lee,18,Female,IT,6086,2019-05-30,4.0,7,Inactive,Los Angeles,Evening
989,990,Shannon Meyer,18,Other,HR,9985,2022-11-05,4.0,18,Active,Chicago,Night
990,991,Amy Johnston,53,Female,HR,3991,2024-09-03,4.0,8,Active,Chicago,Morning
993,994,Brandon Bruce,31,Female,HR,3371,2018-09-25,5.0,12,Inactive,Chicago,Night
998,999,Ashley Taylor,51,Female,IT,5437,2022-02-18,4.0,9,Inactive,Los Angeles,Evening

## 9. Select every alternate row from the DataFrame using slicing with iloc.

In [14]:
df.iloc[ : : 2 ]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening
6,7,David Olson,39,Female,Sales,6826,2023-05-11,NaN,4,Active,New York,Night
8,9,Jeremy Wright,63,Female,Sales,9862,2024-02-07,NaN,3,Inactive,New York,Night
...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Amy Johnston,53,Female,HR,3991,2024-09-03,4.0,8,Active,Chicago,Morning
992,993,Ashley Daniels,25,Other,Sales,5524,2022-11-24,NaN,8,Inactive,New York,Morning
994,995,Rachel Phillips,22,Male,IT,3096,2018-10-27,2.0,7,Inactive,Chicago,Evening
996,997,Todd Johnson,29,Female,Sales,6754,2018-07-20,NaN,12,Inactive,New York,Morning
998,999,Ashley Taylor,51,Female,IT,5437,2022-02-18,4.0,9,Inactive,Los Angeles,Evening

## 10. Retrieve rows where the employee belongs to "Sales" and has a Salary in the top 10% of all salaries.

In [15]:
top10 = df['Salary'].quantile(0.10)
df.loc[(df['Department'] == 'Sales') & (df['Salary'] == top10)]

Empty DataFrame
Columns: [ID, Name, Age, Gender, Department, Salary, Joining Date, Performance Score, Experience, Status, Location, Session]
Index: []

## 11.Replace all "Inactive" values in the Status column with "Retired".

In [16]:
df['Status'].replace('Inactive', 'Retired')

0       Active
1      Retired
2      Retired
3      Retired
4      Retired
        ...
995     Active
996    Retired
997     Active
998    Retired
999     Active
Name: Status, Length: 1000, dtype: object

## 12.Add a new column Bonus where values are 10% of the Salary column.

In [17]:
df['Bonus'] = df['Salary'] * 0.10
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night,564.1
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening,424.9
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning,305.8
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening,589.5
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening,431.7

## 13.Update the Performance Score of employees in the "IT" department to 5 if it is NaN.

In [18]:
df.loc[(df['Department'] == 'IT') & (df['Performance Score'].isna()), 'Performance Score'] = 5

## 14.Modify the Experience of employees with less than 2 years to 2.

In [19]:
df.loc[df['Experience'] < 2, 'Experience'] = 2

## 15.Normalize the Salary column so that all values are between 0 and 1.

In [20]:
df['Salary Normalized'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

In [21]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus,Salary Normalized
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night,564.1,0.454500
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening,424.9,0.280020
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,2,Inactive,New York,Morning,305.8,0.130735
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening,589.5,0.486337
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening,431.7,0.288543

## 16.Replace all Location values with "Remote" for employees with a Performance Score below 3.

In [22]:
df.loc[df['Performance Score'] < 3, 'Location'] = 'Remote'

## 17.Create a new column Experience Level with values "Junior", "Mid", or "Senior" based on the 
Experience.

In [23]:
import numpy as np
df['Experience Level'] = pd.cut(
    df['Experience'],
    bins=[0, 3, 6, np.inf],
    labels=['Junior', 'Mid', 'Senior']
)
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus,Salary Normalized,Experience Level
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,Remote,Night,564.1,0.454500,Senior
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Remote,Evening,424.9,0.280020,Senior
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,2,Inactive,New York,Morning,305.8,0.130735,Junior
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Remote,Evening,589.5,0.486337,Senior
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening,431.7,0.288543,Senior

## 18.Add a new row with specific values using the append() method.
.

In [24]:
new_row = pd.DataFrame([{
    'Name': 'Frank', 'Department': 'Finance', 'Salary': 7000, 'Experience': 4,
    'Performance Score': 3, 'Status': 'Active', 'Age': 28, 'Location': 'Office'
}])
df = pd.concat([df, new_row], ignore_index=True)

## 19.Delete the column Session from the DataFrame.

In [25]:
if 'Session' in df.columns:
    df = df.drop(columns=['Session'])

## 20.Delete rows where the Age is greater than 60.

In [26]:
df = df[df['Age'] <= 60]

## 21.Add a new column Age Group with values "Young", "Middle-aged", or "Senior" based on Age.

In [27]:
df['Age Group'] = pd.cut(
    df['Age'],
    bins=[0, 35, 50, np.inf],
    labels=['Young', 'Middle-aged', 'Senior']
)

## 22.Identify all columns with missing values using the isna() method.

In [28]:
missing_columns = df.isna().sum()

## 23. Fill the missing values in Performance Score with the average score of that column.

In [29]:
df['Performance Score'] = df['Performance Score'].fillna(df['Performance Score'].mean())

## 24.Drop all rows with missing values using the dropna() method.

In [30]:
df_no_na = df.dropna()

## 25.Replace missing values in Performance Score with the median of the scores, grouped by Department.

In [31]:
df['Performance Score'] = df.groupby('Department')['Performance Score'].transform(
    lambda x: x.fillna(x.median())
)

## 26.Identify rows where the employee is in the "IT" department and their Age is above the average Age 
of "IT" employees

In [32]:
avg_age_it = df[df['Department'] == 'IT']['Age'].mean()
result_26 = df[(df['Department'] == 'IT') & (df['Age'] > avg_age_it)]

## 27.Identify rows with duplicate Name and Joining Date combinations, and remove duplicates.

In [33]:
df = df.drop_duplicates(subset=['Name', 'Joining Date'])

## 28.Remove rows where the Experience value is inconsistent with the Age (e.g., Experience > Age - 18).

In [34]:
df = df[df['Experience'] <= (df['Age'] - 18)]

## 29. Sort the DataFrame by Salary in descending order.

In [35]:
df_sorted_by_salary = df.sort_values(by='Salary', ascending=False)

## 30. Sort the DataFrame by Department and then by Joining Date in ascending order.

In [36]:
df_sorted_by_dept_and_date = df.sort_values(by=['Department', 'Joining Date'])

## 31. Rank employees by Salary within their Department

In [37]:
df['Salary Rank'] = df.groupby('Department')['Salary'].rank(ascending=False)

## 32. Sort by Experience in descending order, breaking ties using Performance Score

In [38]:
df_sorted_by_exp = df.sort_values(by=['Experience', 'Performance Score'], ascending=[False, True])

## 33. New DataFrame: Employees in "HR" with Salary > 5000

In [39]:
hr_high_salary = df[(df['Department'] == 'HR') & (df['Salary'] > 5000)]

## 34. Filter out rows where Location is "Chicago"

In [40]:
df_no_chicago = df[df['Location'] != 'Chicago']

## 35. Delete all rows where Performance Score < 2

In [41]:
df = df[df['Performance Score'] >= 2]

# 36. Find average Salary for each Department

In [42]:
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()

# 37. Total Salary grouped by Status

In [43]:
total_salary_by_status = df.groupby('Status')['Salary'].sum()

# 38. Maximum Performance Score for employees in each Location

In [44]:
max_perf_by_location = df.groupby('Location')['Performance Score'].max()

# 39. Total Salary paid to employees by year of Joining

In [45]:
# Ensure 'Joining Date' is in datetime format
df['Joining Date'] = pd.to_datetime(df['Joining Date'], errors='coerce')

# Now you can extract the year
df['Joining Year'] = df['Joining Date'].dt.year

# Calculate the total Salary paid to employees grouped by Joining Year
total_salary_by_year = df.groupby('Joining Year')['Salary'].sum()

print(total_salary_by_year)

Joining Year
2014.0     15135
2015.0    275743
2016.0    370821
2017.0    313615
2018.0    392152
2019.0    325801
2020.0    360210
2021.0    372695
2022.0    289763
2023.0    423272
2024.0    305653
Name: Salary, dtype: int64

# 40. Department with the highest average Performance Score

In [46]:
highest_avg_perf_dept = df.groupby('Department')['Performance Score'].mean().idxmax()

# 41. Count employees in each Location grouped by Session

In [47]:
if 'Session' in df.columns:
    employee_count_by_location_session = df.groupby(['Location', 'Session']).size()

# 42. Group employees by Status and calculate salary statistics

In [48]:
salary_stats_by_status = df.groupby('Status')['Salary'].agg(['sum', 'mean', 'std'])

# 43. Create Monthly Salary using apply()

In [49]:
df['Monthly Salary'] = df['Salary'].apply(lambda x: x / 12)

# 44. Convert all string values in the DataFrame to uppercase using applymap()

In [50]:
df_upper = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

/tmp/ipykernel_17/119332485.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_upper = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# 45. Inner join with a second dataset containing Department and Budget

In [51]:
budget_data = pd.DataFrame({'Department': ['Sales', 'IT', 'HR'], 'Budget': [50000, 40000, 30000]})
df_inner_join = df.merge(budget_data, on='Department', how='inner')

# 46. Merge with another dataset containing employee ID and recent projects

In [52]:
project_data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Recent Projects': [3, 5, 2]})
df_merged = df.merge(project_data, on='Name', how='left')

# 47. Left join with dataset containing Department and Team Lead

In [53]:
team_lead_data = pd.DataFrame({'Department': ['Sales', 'IT', 'HR'], 'Team Lead': ['John', 'Diane', 'Sarah']})
df_with_team_lead = df.merge(team_lead_data, on='Department', how='left')

# 48. Add employee ID and Project Count; calculate average Salary per project

In [54]:
project_count_data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Project Count': [2, 4, 1]})
df_with_projects = df.merge(project_count_data, on='Name', how='left')
df_with_projects['Salary Per Project'] = df_with_projects['Salary'] / df_with_projects['Project Count']

# 49. Calculate percentage increase in Salary compared to the average Salary in Department

In [55]:
df['Salary Increase %'] = df['Salary'] / df.groupby('Department')['Salary'].transform('mean') * 100 - 100
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Salary Normalized,Experience Level,Age Group,Salary Rank,Joining Year,Monthly Salary,Salary Increase %
0,1.0,Cory Escobar,48,Female,HR,5641,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged,114.0,2015.0,470.083333,-5.286399
2,3.0,Chad Nichols,57,Other,Sales,3058,2019-02-12,3.441128,2,Inactive,New York,305.8,0.130735,Junior,Senior,191.0,2019.0,254.833333,-47.665520
3,4.0,Christine Williams,58,Female,IT,5895,2017-09-08,2.000000,13,Inactive,Remote,589.5,0.486337,Senior,Senior,109.0,2017.0,491.250000,-0.137024
4,5.0,Amber Harris,35,Other,IT,4317,2020-02-15,5.000000,16,Inactive,New York,431.7,0.288543,Senior,Young,159.0,2020.0,359.750000,-26.868793
6,7.0,David Olson,39,Female,Sales,6826,2023-05-11,3.441128,4,Active,New York,682.6,0.603033,Mid,Middle-aged,90.0,2023.0,568.833333,16.819869

# 50. Print "Thanks"

In [56]:
print("Thanks")

Thanks